name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [i686-pc-windows-msvc, x86_64-pc-windows-msvc]
    steps:
    - uses: actions/checkout@v6
    
    - name: Install nightly for ${{ matrix.target }}
      uses: dtolnay/rust-toolchain@nightly
      with:
        targets: ${{ matrix.target }}
    
    - name: Install Cap'n Proto
      run: choco install capnproto
      
    - name: Build shared
      run: cargo build --manifest-path=shared/Cargo.toml --target ${{ matrix.target }}
      
    - name: Build burnt-sushi-blocker
      run: cargo build --manifest-path=burnt-sushi-blocker/Cargo.toml --target ${{ matrix.target }}
          
    - name: Build burnt-sushi
      run: cargo build --manifest-path=burnt-sushi/Cargo.toml --target ${{ matrix.target }}
