name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    
    - name: Install latest nightly for i686-pc-windows-msvc
      uses: dtolnay/rust-toolchain@nightly
      with:
        targets: i686-pc-windows-msvc
    
    - name: Install latest nightly for x86_64-pc-windows-msvc
      uses: dtolnay/rust-toolchain@nightly
      with:
        targets: x86_64-pc-windows-msvc
    
    - name: Install Cap'n Proto
      run: choco install capnproto
      
    - name: Build burnt-sushi-blocker
      run: cargo build --manifest-path=burnt-sushi-blocker/Cargo.toml --target i686-pc-windows-msvc
          
    - name: Build burnt-sushi
      run: cargo build --manifest-path=burnt-sushi/Cargo.toml --target x86_64-pc-windows-msvc
